@{
    ViewBag.Title = "Home Page";
}

<body>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill">
                    <img src="~/img/bg-img1.jpg" alt="">
                </div>
                <div class="carousel-caption">
                    <h2>LIFE BEGINS AT THE END OF YOUR COMFORT ZONE</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill">
                    <img src="~/img/bg-img2.jpg" alt="">
                </div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill">
                    <img src="~/img/bg-img3.jpg" alt="">
                </div>
                <div class="carousel-caption">
                    <h2>WE TRAVEL NOT TO ESCAPE LIFE, BUT FOR LIFE NOT TO ESCAPE US</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>


    <div class="container" id="last">
        <div id="about" class="about-section">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About</h1>
                    <p>BLOG-ME is a blog which allows you to keep track of your adventures and travelling. Don't let to forget another trip you had. Upload your most favourite images, share your thoughts and let the whole world know you had a good time! See your friends' posts, share them and take a glimpse at their journey!</p>
                </div>
            </div>
        </div>
        <hr>
        <!-- Footer
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Developed by Team 14</p>
                </div>
            </div>

        </footer> -->
    </div>



</body>
