
@{
    ViewBag.Title = "Navigator";
}
@{
    ViewBag.Title = "Navigator";
}

<!-- Main Content -->
<div class="container" id="services-content">
    <div class="row">

        <div class="col-md-3" id="service-sidebar-top">
            <h1 class="lead" id="serv-heading">Services</h1>
            <ul class="list-group" id="serv-links">
                <li><a href="#section1">&#8680; Getting started</a></li>
                <li><a href="#section2">&#8680; How to register</a></li>
                <li><a href="#section3">&#8680; How to add post</a></li>
                <li><a href="#section4">&#8680; How to upload images</a></li>
                <li><a href="#section5">&#8680; How to delete your post</a></li>
            </ul>
        </div>

        <div class="col-md-9 service-body">
            <div id="section1">
                <h2 class="title-section">Getting started</h2>
                <div class="">
                    <p>On this page you can find services for how to navigate fast and easy, post blogs, upload images, etc.</p>
                    <figure class="embedObject"><img class="img-responsive" src="~/img/start.png" alt="" /></figure>
                </div>
                <div class="go-to-top">
                    <a href="#service-sidebar-top">&#8682; Top of page</a>
                </div>
            </div>
            <br />
            <br />
            <div id="section2">
                <h2 class="title-section">How to register</h2>
                <div class="">
                    <p>
                        The main menu is placed on the top of the page. <br />
                        Click on the tab <strong>Register</strong> and a form will appear where you can register.
                    </p>
                    <figure class="embedObject"><img class="img-responsive" src="~/img/register.png" /></figure>
                </div>
                <div class="go-to-top">
                    <a href="#service-sidebar-top">&#8682; Top of page</a>
                </div>
            </div>
            <br />
            <br />
            <div id="section3">
                <h2 class="title-section">How to add post</h2>
                <div class="">
                    <div class="">
                        <p>After you log in, you can navigate to <strong>My Posts</strong> and by clicking on the button <strong>NEW POST</strong> a form will appear for writing your desired content.</p>
                        <figure class="embedObject"><img class="img-responsive" src="~/img/Posts.png" alt="" /></figure>
                    </div>
                </div>
                <div class="go-to-top">
                    <a href="#service-sidebar-top">&#8682; Top of page</a>
                </div>
            </div>
            <br />
            <br />
            <div id="section4">
                <h2 class="title-section">How to upload images</h2>
                <div class="">
                    <div class="">
                        <p>In <strong>My Posts</strong> when adding a new post click on the button <strong>NEW POST</strong>, then copy the url for your desired picture and paste it in the <strong>imageURL</strong> text field. Your picture will appear above you blog content.</p>
                        <figure class="embedObject"><img class="img-responsive" src="~/img/AddPost.png" alt="" /></figure>
                    </div>
                </div>
                <div class="go-to-top">
                    <a href="#service-sidebar-top">&#8682; Top of page</a>
                </div>
            </div>
            <br />
            <br />
            <div id="section5">
                <h2 class="title-section">How to delete your post</h2>
            </div>
            <div class="">
                <div class="">
                    <p>Go to <strong>My Posts</strong>, find the post you want to delete and click on the <strong>DELETE</strong> button.</p>
                    <figure class="embedObject"><img class="img-responsive" src="~/img/MyPosts.png" alt="" /></figure>
                </div>
            </div>
            <div class="go-to-top">
                <a href="#service-sidebar-top">&#8682; Top of page</a>
            </div>
        </div>
    </div>
</div>
<hr>